.active {
  /* background-color: #f8f8ff;
  border-radius: 5px;
  border: 2px solid rgb(102 101 104); */
  border-bottom: 3px solid rgb(191 189 195);
}

.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option {
  font-size: 18px;
  margin-right: 20px;
  font-weight: 400;
}

.web-option a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.option-icon {
  display: flex;
  align-items: center;
  margin-right: 4px;
  width: 25%;
}

.web-option:last-child {
  margin-right: 0;
}
