.header {
  display: flex;
  /* background-color: royalblue; */
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}

.menu {
  /* background-color: white; */
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
  width: auto;
}

.logo {
  display: flex;
  height: 150px;
}

/* media query for large screens */
@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
    margin-right: 18%;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}

/* media query for small screens */
@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
  }
}
