.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}

.project-photo {
  width: 45%;
  /* border: 4px solid; */
  /* border-color: linear-gradient(
    to right top,
    #2e35d8,
    #3e5de5,
    #5c80ec,
    #80a1ef,
    #a9c1ef,
    #a6cff3,
    #aadbf5,
    #b4e6f5,
    #86e5e2,
    #79e1b6,
    #95d67a,
    #c4c23d
  ); */
  /* border-radius: 8px; */
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(
      to right top,
      #2e35d8,
      #3e5de5,
      #5c80ec,
      #80a1ef,
      #a9c1ef,
      #a6cff3,
      #aadbf5,
      #b4e6f5,
      #86e5e2,
      #79e1b6
    )
    1;
}

.project-info {
  margin-right: 24px;
  max-width: 50%;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: #8fbeff;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project-links a {
  text-decoration: none;
  color: black;
}

.project-links {
  margin-top: 6px;
  display: flex;
}

.link-logo {
  height: 16px;
}

.project-about {
  font-size: 16px;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
  border: 1px solid black;
}

.link-button i {
  display: flex;
  align-items: center;
  mask-repeat: 4px;
}

/* media queries for smaller screens */
@media only screen and(max-width:720px) {
  .project-photo {
    width: 70%;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    margin-left: 0px;
    margin-top: 12px;
  }
  .project-tags {
    max-width: 100%;
  }
}
