.about {
  padding-bottom: 9%;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 500px;
}

.about-info {
  font-size: 30px;
  max-width: 55%;
}

.info-name {
  color: #0a50b2;
  font-size: 40px;
}

/* media queries for tablet screens */
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 288px;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}
